@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Poppins:wght@500&display=swap');

// Variables 

$text-white : rgb(239, 238, 238);
$text-dark: #05030b;
$poppins-bold: 'Poppins', sans-serif;
$poppins-light: 'Poppins', sans-serif;
$poppins-medium: 'Poppins', sans-serif;
$poppins-regular: 'Poppins', sans-serif;
$poppins-semibold: 'Poppins', sans-serif;
$lora-bold: 'Lora', sans-serif;
$lora-bold-italic: 'Lora', sans-serif;
$lora-italic: 'Lora', sans-serif;
$lora-regular: 'Lora', sans-serif;
$header-font: 'Kanit', sans-serif;
$main-color: rgba(120, 87, 238, 0.896);
$fast-transition: all 0.2s linear;
$border-radius: 3px;
$background-dark-mode: rgba(14, 16, 38, 0.969); 
$navbar-background-dark-mode: rgba(14, 16, 38, 0.969);
$background-white-mode: rgba(227, 227, 227, 0.969); 
$very-dark-bg: rgba(10, 9, 12, 0.603);
$form-bg: rgba(5, 13, 24, 0.6);
